.container{
    position: absolute;
    width: 98%;
    height: 98%;
    text-align: center;
}
/*DIV AFTER THE TITLE*/
.hanoit{
    border: solid 1px black;
    width: 50%;
    height: 50%;
    margin: auto;
}

.pegs{
    margin-top: 18%;
    display: flex;
    width: 100%;
    height: 56.5%;
}
/*THE ACTUAL PEGS*/
.peg{
    background-color: burlywood;
    width: 5px;
    height: 200px;
    margin: 0% 15%;
}
/*CONTAINS THE POSITIONS*/
.pegcontainer{
    margin-top: 1450%;
    width: 130px;
    height: fit-content;
    margin-left: -60px;
}
/*POSITIONS*/
.pos{
    width: 130px;
    height: 40px;
}

/*DISKS*/
.d{
    position: relative;
    cursor: pointer;
    margin: auto;
    background-color: brown;
    height: 40px;
    border: solid 1px white;
    z-index: 1;
}
#d1{
    width: 70px;
}
#d2{
    width: 100px;
}
#d3{
    width: 130px;
}
